body{
    margin: auto 0
}

#info_place
{
    text-align: center;
    height: 200px;
    background: linear-gradient(#3586ff, #99FFFF);
    border: 1px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #3A3C40;
    text-shadow: 0px 0px 1px black;
}

#info
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 2px solid #3A3C40;
    border-radius: 5px;
}

#enter
{
    
}