body{
    margin: auto 0;
    padding: 0;
    overflow: hidden;
}

#info_place
{
    text-align: center;
    height: 100vh;
    background: linear-gradient(#3586ff, #99FFFF);
    border: 1px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #3A3C40;
    text-shadow: 0px 0px 1px black;
}

#info,#enter, #reveal
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 2px solid #3A3C40;
    border-radius: 5px;
}

#enter, #reveal
{
    cursor: pointer;
    background: white;
    box-shadow: 1px 2px 0px black;
    background-color: whitesmoke;
    height: 50px;
    width: 100px;
    
}

#enter:hover, #reveal:hover
{
    box-shadow: 0px 0px 0px black
}

#valid, #reveal
{
    visibility: hidden;
}
